<div class="container">
    <app-scroll-top></app-scroll-top>

    <h2>TODO APP</h2>
    <app-todo-form
        (submitValueEmitter)="handleAddTodo($event)"
        (updateTodoEmitter)="handleUpdateTodo($event)"
        [todo]="todoEdit"
    ></app-todo-form>
    <app-filters
        [todoList]="todoList"
        (sendModeEmitter)="handleFilterTodo($event)"
        (deleteAllCompleteEmitter)="handleDeleteAllCompleted()"
    ></app-filters>
    <app-todo-list
        [todoList]="todoList"
        [mode]="mode"
        (changeCheckEmitter)="handleChangeComplete($event)"
        (deleteTodoEmitter)="handleGetIdTodo($event)"
        (updateTodoEmitter)="handleEditTodo($event)"
        (showModalEmitter)="handleShowModal($event)"
    ></app-todo-list>

    <!-- <app-product-list></app-product-list> -->
</div>

<lib-ng-toast></lib-ng-toast>
<app-modal-delete
    [contentModal]="contentModal"
    (deleteTodoEmitter)="handleDelete($event)"
></app-modal-delete>
