<div class="container">
    <h2>TODO APP</h2>
    <app-todo-form
        (submitValueEmitter)="handleAddTodo($event)"
        (updateTodoEmitter)="handleUpdateTodo($event)"
        [todo]="todoEdit"
    ></app-todo-form>
    <app-filters
        [todoList]="todoList"
        (sendModeEmitter)="handleFilterTodo($event)"
        (deleteAllCompleteEmitter)="handleDeleteAllCompleted()"
    ></app-filters>
    <app-todo-list
        [todoList]="todoList"
        (changeCheckEmitter)="handleChangeComplete($event)"
        (deleteTodoEmitter)="handleDeleteTodo($event)"
        (updateTodoEmitter)="handleEditTodo($event)"
    ></app-todo-list>
</div>
